*{
	margin: 0;
	padding: 0;
}
.navbar{
	background: #fff;
}
.content .sort p{
	display: inline-block;
	padding-right: 10px;
}
.content .sort i{
	margin-right: 10px;
}


/* Content */
	.content .row .img{
		margin: 0 10px;	
	}
	.content .new{
		position: relative;
	}
	.content .row img{
	position: relative;
	top: 0;
	left: 0;
  width: 100%;
  max-width: 400px;
  height: auto;
  z-index: 2
	}
    .content span,  .stock span{
		position: absolute;
		top: 10px;
		left: 0;
		color: white;
		background: #68D2DF;
		padding: 10px 20px;
		z-index: 9;
	}
	.content .lft, .stock .lft{
		float: left;
	}
	.content .rt, .stock .rt{
		float: right;
	}
	.content p, .stock p{
		clear: both
	}
	.pagination a{
		padding: 10px 15px;
		font-size: 25px;
	}
	.pagination a:hover{
		padding: 10px 15px;
		font-size: 25px;
		text-decoration: underline;
	}
/* Content */
/* Faq */
	.faq{
		background-color: #F8F8F7;
	}
	.accordion {
  background-color: #F8F8F7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

/*.active, .accordion:hover {
  background-color: #ccc;
}
*/
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 30px;
  background-color: #F8F8F7;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*.faq button{
	border-bottom: 1px solid #BEBBBB;
	padding-bottom: 20px;
}*/
.faq h5{
	display: inline-block;
	padding-right: 10px;
}
.faq h5{}
/* Faq */